@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #131313;
    color: #ebebeb;
    font-family: 'Montserrat';
  }

h1 {
    margin-top: 20%;
    font-weight: bold;
    text-align: center;
    font-size: 2.6em;
    color: #888888;
}

#imagem {
      margin-top: 15%;
      text-align: center;
}

#redes {
    margin-top: 15%;
    
    text-align: center;
    display: flex;
    justify-content: center;
}

.blink {
            animation: blinkanimation 5s ease-in-out  infinite;
  }

  @keyframes blinkanimation {
    0% {
      color: #888888;
    }
    49% {
      color: #888888;
    }
    60% {
      color: transparent;
    }
    79% {
      color: #888888;
    }
    89% {
        color: transparent;
      }
    99% {
      color: transparent;
    }
    99% {
      color: #888888;;
    }
  }
@media only screen and (min-width: 768px) {
    h1 {
        margin-top: 5%;
        font-weight: bold;
        text-align: center;
        font-size: 3.6em;
        color: #888888;
    }
    #imagem {
        margin-top: 5%;
        text-align: center;
  }
  #redes {
    margin-top: 5%;
    
    text-align: center;
    display: flex;
    justify-content: center;
}
  }
  